body {
  background-color: rgb(170, 177, 213);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
  color: rgb(44, 58, 129);
}

/* BARRA DE NAVEGACION */
.menu-principal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background: white;
  z-index: 1;
}

.logo img {
  width: 130px;
  padding: 0 20%;
}

.menu-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
}

.menu-bar .enlaces .busqueda {
  display: inline-block;
  padding: 0 20px;
}

.icono-input {
  position: relative;
  width: 271px;
}

.input {
  box-sizing: border-box;
  padding: 10px 10px 10px 35px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(44, 58, 129);
  cursor: pointer;
  background-color: aliceblue;
}

.icono-input i {
  color: rgb(44, 58, 129);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.icono-input i:hover {
  color: lightskyblue;
}

.menu-bar .opciones a {
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
  color: rgb(44, 58, 129);
  transition: all 0.5s;
}

.menu-bar .opciones a:hover {
  color: lightskyblue;
}

/* CAJAS MENUS */
.menu {
  padding: 5%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 0 10px;
  background-color: white;
}

li {
  list-style-type: none;
  font-weight: bold;
  color: #537FE7;
 
}

/*Menu busqueda amigos*/
.buscar {
  position: absolute;
  top: 15%;
  width: 70%;
  height: auto;
  left: 25%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.cuadro-logo{
  display: flex;
  margin: 0 5%;
}

.buscar-amigos{
  position: relative;
  width: 271px;
  display: flex;
}

.buscar-amigos input{
  box-sizing: border-box;
  padding: 10px 10px 10px 35px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(44, 58, 129);
  cursor: pointer;
  background-color: aliceblue;
}

.buscar-amigos i{
  color: rgb(44, 58, 129);
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 50%;
  transform: translateY(-40%);
  transition: all 0.5s;
}

.filtros a{
color: rgb(44, 58, 129);
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 50%;
  transform: translateY(-40%);
  transition: all 0.5s;
}

.buscar .etiqueta{
  font-weight: 700;
  font-size: 30px;
}

/*Menu lateral izquierda*/
.menu-izquierdo {
  position: absolute;
  width: 20%;
  height: 60%;
  top: 15%;
  left: 2%;
}

/*Menu lateral derecha*/
.menu-derecho {
  position: absolute;
  width: 20%;
  height: 60%;
  top: 15%;
  right: 2%;
}

/*Menu amigos*/
.posibles-amigos{
  position: absolute;
  top: 30%;
  width: 72%;
  height: auto;
  left: 25%;
  background-color: rgb(170, 177, 213);
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 5%;
  column-gap: 5%;
  justify-content: center;
  align-items: center;
}

.posibles-amigos .amigo{
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.posibles-amigos .amigo div{
  padding: 5px;
}

.posibles-amigos .amigo img{
  width: 50%;
  height: 50%;
}

.posibles-amigos .amigo h3{
margin: 0;
}

.posibles-amigos .amigo a{
  text-decoration: none;
  text-align: center;
  margin: 20px;
}

.posibles-amigos .amigo button{
  border-radius: 10px;
  color: white;
  background-color: green;
  width: 70%;
  height: auto;
  cursor: pointer;
  transition: all 0.5s;
}

.posibles-amigos .amigo button:hover{
  color: green;
  background-color: white;
}

.posibles-amigos .amigo button.agregado{
  color: white;
  background-color: red;
}

.posibles-amigos .amigo button.agregado:hover{
  color: red;
  background-color: white;
}

/* NUEVA PUBLICACION */

.nueva-publicacion {
  border: 1px solid black;
  height: auto;
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;
  text-align: center;
}

.btn-post {
  margin: 2%;
}

/* PUBLICACIONES */

.centro {
  position: absolute;
  top: 15%;
  width: 50%;
  height: auto;
  right: 25%;
  overflow-y: auto;
  text-align: justify;
}

.publicacion-muro {
  padding: 3%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 10px 0 10px;
}

.autor {
  display: flex;
}

.autor img {
  margin: 0 15px 0 0;
}

.new-post {
  border-radius: 10px;
  background-color: aliceblue;
  border: 2px solid rgb(44, 58, 129);
  padding: 10px 10px 10px 35px;
  box-sizing: border-box;
  width: 80%;
}

/* IMAGENES */

.avatar {
  width: 60px;
  height: auto;
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
}

.logo {
  display: inline-flex;
  width: 60px;
  height: auto;
  margin: 10px 0;
}

.mensajes {
  position: fixed;
  bottom: 1%;
  right: 5%;
  size: 5%;
  min-width: 10%;
  font-size: large;
  padding: 10px;
  background-color: rgb(44, 58, 129);
  color: white;
  cursor: pointer;
}
