/*MEDIA QUERY*/
@media screen and (max-width: 1020px) {
    .default-card-izquierdo {
      display: none;
    }
  
    .posibles-amigos {
      top: 30%;
      width: auto;
      height: auto;
      right: 25%;
      display: grid;
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
      column-gap: 15%;
      justify-content: center;
      align-items: center;
    }
  
    .posibles-amigos .amigo img {
      width: 40%;
      height: 40%;
    }
  
    .search-friends {
      top: 15%;
      width: 50%;
      height: auto;
      left: 25%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
    }
  
    .search-friends-input {
      display: flex;
      margin: 0 5%;
      width: 50%;
      height: auto;
    }
  
    .search-friends-input {
      position: relative;
      width: auto;
      display: flex;
    }
  
    .search-friends-input i {
      color: rgb(44, 58, 129);
      position: absolute;
      width: auto;
      height: auto;
      right: 10%;
      top: 50%;
      transform: translateY(-40%);
      transition: all 0.5s;
    }
  
    .default-card-bar .enlaces .search-bar {
      display: none;
    }
  }
  @media screen and (max-width: 650px) {
    .search-friends {
      position: absolute;
      top: 15%;
      width: 45%;
      height: auto;
      left: 25%;
      text-align: center;
      /*display: flex;*/
      display: inline-block;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
    }
  
    .search-friends-input {
      display: flex;
      margin: 0 5%;
      width: 90%;
      height: auto;
      justify-content: center;
    }
  
    .filter-icon a {
      display: none;
    }
  
    .posibles-amigos {
      position: absolute;
      top: 35%;
      width: auto;
      height: auto;
      right: 30%;   
      display: grid;
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      row-gap: 5%;
      column-gap: 5%;
      justify-content: center;
      align-items: center;
    }
  
    .posibles-amigos .amigo img {
      width: 20%;
      height: 20%;
    }
  }
  